<!-- BEGIN OUTPUT from 'resources/views/product-types.twig' -->
{% if product_type == 'size' %}  {#product type id == 'size'#}
    <div class="form-group row">
        <label for="size" class="col-sm-2 col-form-label">Size</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="size" name="size" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <small><i><b>Tips: </b>Please provide the DVD-disk size in MB's.</i></small>
        </div>
    </div>
{% elseif product_type == 'weight' %}  {#product type id == 'weight'#}
    <div class="form-group row">
        <label for="weight" class="col-sm-2 col-form-label">Weight</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="weight" name="weight" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <small><i><b>Tips: </b>Please provide the weight in KG's.</i></small>
        </div>
    </div>
{% elseif product_type == 'dimension' %}  {#product type id == 'dimensions'#}
    <div class="form-group row">
        <label for="height" class="col-sm-2 col-form-label">Height</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="height" name="height" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="width" class="col-sm-2 col-form-label">Width</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="width" name="width" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="length" class="col-sm-2 col-form-label">Length</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="length" name="length" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <small><i><b>Tips: </b>Please provide dimensions in HxWxL format. Unit of measurement in cm's.</i></small>
        </div>
    </div>

{% endif %}
<!-- END OUTPUT from 'resources/views/product-types.twig' -->