<!-- BEGIN OUTPUT from 'resources/views/product-new.twig' -->
<form id="form_product_add" class="col">
    <div class="row">
        <div id="product_new_form" class="col-12 col-md-7 col-lg-5">
            {% include 'product-new-form.twig' with {'product_types': product_types} %}
        </div>
    </div>
    <div class="row">
        <div id="type_switcher_view" class="col-12 col-md-7 col-lg-5">
            {% include 'product-types.twig' with {'product_type': product_type} %}
        </div>
    </div>
</form>
<!-- END OUTPUT from 'resources/views/product-new.twig' -->