{% extends 'layouts/master.twig' %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <!-- BEGIN OUTPUT from 'resources/views/products.twig' -->
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col">
                    <div id="navbar" class="navbar row mt-4 mt-lg-5 mb-3 pb-3">
                        <div class="col-12 col-sm pl-0 pr-0 pr-sm-2 pb-2 pb-sm-0">
                            <h2 id="page_name" class="p-0 text-center text-sm-left">Product list</h2>
                        </div>

                        <div class="col-12 col-sm-auto d-flex p-0 justify-content-center">
                            <div class="" spa-show="product_list">
                                <div id="action_wrap" class="d-flex">

                                    <select id="product_actions" class="form-control form-control-sm mr-1">
                                        <option value>- Select Action -</option>
                                        <option value="delete">Mass Delete Action</option>
                                    </select>

                                    <button id="product_action_btn" class="btn btn-green btn-sm mr-2" >
                                        <span>Apply</span>
                                    </button>
                                </div>
                            </div>
                            <div spa-show="product_list">
                                <button class="btn btn-outline-grey btn-sm" onclick="$spa.changePath('/product/new')">
                                    Add New
                                </button>
                            </div>
                            <div spa-show="product_new">
                                <button id="product_add_save" class="btn btn-green btn-sm mr-1">
                                    Save
                                </button>
                            </div>
                            <div spa-show="product_new">
                                <button class="btn btn-outline-grey btn-sm" onclick="$spa.changePath('/product/list')">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="row">
                    {#{% include 'product-list.twig' with {'products': products} only %}#}
                </div>
                <div id="footer">

                </div>
            </div>
        </div>
    </div>
    <!-- END OUTPUT from 'resources/views/products.twig' -->
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script src="{{ base_path }}/js/spa.js?rand={{ random() }}"></script>
    <script src="{{ base_path }}/js/spa-app.js?rand={{ random() }}"></script>
    <script src="{{ base_path }}/js/app.js?rand={{ random() }}"></script>
{% endblock %}
