<!-- BEGIN OUTPUT from 'resources/views/product-list.twig' -->
<form id="product_list_form" class="col">
    <div class="row">

        {% if products is empty %}
            <div class="product-wrap col-12">
                Products list is empty!
            </div>
        {% else %}
            {% for product in products %}
                <div class="product-wrap col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product-item content-box inner-box" data-target="{{ product.id }}">
                        <input id="product_{{ product.id }}" class="product-checkbox" type="checkbox"
                               name="{{ product.id }}">
                        <div class="content-body">
                            <div class="col">
                                <p class="text-center">{{ product.sku }}</p>
                            </div>
                            <div class="col">
                                <p class="text-center"><b>{{ product.name }}</b></p>
                            </div>
                            <div class="col">
                                <p class="text-center">{{ product.price }} $</p>
                            </div>

                            <div class="col">
                                <p class="text-center">
                                    {% if product.product_attributes.product_type_id == 1 %}  {#product type id == 'size'#}
                                        Size: {{ product.product_attributes.size }} MB
                                    {% elseif product.product_attributes.product_type_id == 2 %}  {#product type id == 'weight'#}
                                        Weight: {{ product.product_attributes.weight }} KG
                                    {% elseif product.product_attributes.product_type_id == 3 %}  {#product type id == 'dimensions'#}
                                        Dimension: {{ product.product_attributes.height }}x{{ product.product_attributes.width }}x{{ product.product_attributes.length }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</form>
<!-- END OUTPUT from 'resources/views/product-list.twig' -->