<!-- BEGIN OUTPUT from 'resources/views/product-new-form.twig' -->
<div class="form-group row">
    <label for="sku" class="col-sm-2 col-form-label">SKU</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="sku" name="sku" placeholder="">
    </div>
</div>
<div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="">
    </div>
</div>
<div class="form-group row">
    <label for="price" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="price" name="price" placeholder="">
    </div>
</div>
<div class="form-group row">
    <label for="price" class="col-sm-4 col-form-label">Type Switcher</label>
    <div class="col-sm-8">

        <select id="type_switcher" class="form-control" name="type">
            <option value {{ product_type == null ? 'selected=""' : null }}>Choose...</option>
            {% for type in product_types %}
                <option value="{{ type.type }}" {{ product_type == type.type ? 'selected=""' : null }}>{{ type.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<!-- END OUTPUT from 'resources/views/product-new-form.twig' -->