.product-wrap {
  margin-bottom: 15px;
  .product-item {
    position: relative;
    background: rgba(255,255,255,.5);
    cursor: pointer;
    input.product-checkbox {
      position: absolute;
      top: $grid-gutter-width / 2;
      left: $grid-gutter-width / 2;
    }
    &.selected {
      box-shadow: 0 1px 10px rgba(180, 180, 180, 1);
      background: #ffffff;
    }
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    box-shadow: 0 0px 3px #ff383d;
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}