html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eee;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  @include transition(all .5s ease);
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



//
//.clickable-row {
//	cursor: pointer;
//}
//
//.flex-container {
//	padding: 0;
//	margin: 0;
//	list-style: none;
//	-ms-box-orient: horizontal;
//	display: -webkit-box;
//	display: -moz-box;
//	display: -ms-flexbox;
//	display: -moz-flex;
//	display: -webkit-flex;
//	display: flex;
//	&.nowrap  {
//		-webkit-flex-wrap: nowrap;
//		flex-wrap: nowrap;
//	}
//
//	&.wrap    {
//		-webkit-flex-wrap: wrap;
//		flex-wrap: wrap;
//	}
//
//	&.wrap-reverse         {
//		-webkit-flex-wrap: wrap-reverse;
//		flex-wrap: wrap-reverse;
//	}
//
//	.flex-item {
//		flex: 1;
//	}
//}
//
//
//.btn{
//    &.clicked {
//        &.btn-default {
//            color: #333;
//            background-color: #e6e6e6;
//            border-color: #adadad;
//        }
//    }
//}
//
//.breadcrumb {
//    &.breadcrumb-slim {
//        padding-top: 0px;
//        padding-bottom: 0px;
//        margin-bottom: 0;
//    }
//}
//
//.flex-wrap {
//	&-wrap {
//		display: flex;
//		flex-wrap: wrap;
//	}
//	&-nowrap {
//		display: flex;
//		flex-wrap: nowrap;
//	}
//}
//
//.container-fluid {
//	&.clean {
//		padding-top: 0px;
//	}
//}
//
.content-box {
	padding: 15px;
	.content {
		&-title {
			border-bottom: 1px solid #e6e6e6;
			.title {
				&-1 {
					font-size: 18px;
					margin-bottom: 20px;
					padding-bottom: 15px;
					text-transform: uppercase;
					text-align: left;
				}
			}
			.link {
				&-1 {
					font-size: 14px;

					line-height: 18px;
					padding-bottom: 15px;
					text-align: left;
				}
			}
		}
		&-body {
			margin-right: -15px;
			margin-left: -15px;
		}
	}
}

.inner-box {
	background: #ffffff;
	border-radius: 3px 3px;
	box-shadow: 0 1px 1px rgba(180,180,180,0.5);
	padding: 20px 15px;
	height: 100%;
}
