$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
    (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3)
    ),
    $spacers
);


$spa-color-grey-1: rgb(221,221,221) !default;
$spa-color-grey-2: rgb(206,206,206) !default;
$spa-color-grey-3: rgb(136,136,136) !default;
$spa-color-grey-4: rgb(96,96,96) !default;

$spa-color-green-0: rgb(144,202,190) !default;
$spa-color-green-1: rgb(44,226,140) !default;
$spa-color-green-2: rgb(47,196,166) !default;

$spa-color-blue-1: rgb(17,98,188) !default;
$spa-color-blue-2: rgb(9,45,99) !default;