.navbar {
  border-bottom: 1px solid rgba(0,0,0,.3);
  position: relative;
  &:after {
    position: absolute;
    content: '';
    display: block;
    bottom: -2px;
    left: 10%;
    right: 10%;
    height: 1px;
    background-image: linear-gradient(to right, #fff, rgba(0,0,0,.3) ,rgba(0,0,0,.3) ,rgba(0,0,0,.3) , #fff);
  }
}