<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - My Webpage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {# Stylesheets content block #}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ base_path }}/js/jquery-ui-1.12.1/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/app.css?rand={{ random() }}" />
    {% endblock %}
</head>
<body>
<div id="app">
    {# Project content wrapping block #}
    {% block content %}{% endblock %}
</div>

{# Script content block #}
{% block scripts %}
    <script src="{{ base_path }}/js/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <script src="{{ base_path }}/js/jquery-ui-1.12.1/jquery-ui.js"></script>
{% endblock %}
</body>
</html>